<!doctype html>
{% load static %}

<!-- BOOKING CONFIRMATION PAGE DISPLAYING SOME DETAILS -->
<html>
    <head>
        <title>Booking Confirmed</title>
        <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'tables.css' %}">
    </head>

    <body>
        {% include 'navbar.html' %}
        <h1>Congrats! Your booking is successful!</h1>
        <h2>Here are the details for your flight: </h2>

        <table>
            <tr>
                <td>Booking Number:</td>
                <td>#{{booking.bookingId}</td>
            </tr>
            <tr>
                <td>Flight Number:</td>
                <td>#{{booking.flightId.routeId.planeId.code}}_{{booking.flightId.flightId}}</td>
            </tr>
            <tr>
                <td>Passenger First Name: </td>
                <td>{{booking.userId.fName}}</td>
            </tr>
            <tr>
                <td>Passenger Last Name:</td>
                <td>{{booking.userId.lName}}</td>
            </tr>
            <tr>
                <td>Origin: {{booking.flightId.routeId.origin}}</td>
                <td>Destination: {{booking.flightId.routeId.destination}}</td>
            </tr>
            <tr>
                <td>Departure Date: {{booking.flightId.depDate}}</td>
                <td>Arrival Date: {{booking.flightId.arrDate}}</td>
            </tr>
            <tr>
                <td>Departure Time: {{booking.flightId.depTime}}</td>
                <td>Arrival Time: {{booking.flightId.arrTime}}</td>
            </tr>
            <tr>
                <td>Ticket Cost:</td>
                <td>${{booking.flightId.ticketCost}}</td>
            </tr>
        </table>

        <p>You can view and cancel your bookings at anytime via your 'Profile' page. </p>
        <p>Click <a class="nav-link" href="{% url 'profile' %}"><< here >></a> to visit your profile or via the
            navbar at the top right</p>

        <footer>
            <hr>
            <p>Myles Stubbs</p>
        </footer>
    </body>
</html>