
<nav class="navbar">
    <a href="{% url 'homepage' %}">Home</a>

    <!-- Change what is displayed based on if user is logged in or not -->
    <ul class="navbar-nav">
        {% if request.session.is_logged_in %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
        {% endif %}
    </ul>
</nav>

